*{
    box-sizing: border-box;
}
body{
    background-color: #ddd;
    font-size: 20px;
}
.page-title {
    text-align: center;
}
.contact-wrapper{
    display: grid;
    place-items: center;

    .contactus-details {

        display: flex;
        gap: 16px;
        padding: 12px;
        border-radius: 8px;
        min-width: 800px;
        min-height: 400px;
        background-color: white;

        .info {
            background-color: #000;
            color: #f1f1f1;
            min-width: 350px;
            padding: 12px;
            height: inherit;
            border-radius: 8px;

            .detail-summary {
                position: relative;
            }

            .icons {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        }
        .c-form {
            min-width: 450px;

            form {
                padding: 12px 0px 0px 0px;
                .name-field{
                    display: flex;
                    gap: 20px;
                }
                div {
                    width: 100%;
                    label {
                        display: block;
                        margin-top: 20px;
                    }
                    input {
                        width: 100%;
                        border: none;
                        border-bottom: 1.5px solid #a5a5a5;
                        transition: .2s;
                    }
                    input:focus {
                        outline: none;
                        border-bottom: 1.5px solid #222222;
                    }

                }
            }
        }
    }
}