:root {
    --txt-clr: #BD4444;
    --bg-clr: #FFCA95;
    --radius: 4px;
    --border: 1px solid #BD4444
}

h2 {
    color: var(--txt-clr);
    background-color: var(--bg-clr);
    border-radius: var(--radius)
}

button {
    color: var(--txt-clr);
    background-color: var(--bg-clr);
    border-radius: var(--radius);
    border: var(--border)
}

p {
    color: var(--txt-clr);
    background-color: var(--bg-clr);
    border-radius: var(--radius)
}
