.main {
    border: 3px dashed black;
    width: 300px;
    height: 300px;
    position: relative;
}
ul {
    list-style: none;
    padding: 0px;
}
.links {
    margin: 0px 0px 0px 20px
}
.child {
    position: absolute;
    left: 20px;
    bottom: 20px;
}