h2 {
    color: #333;
    font-family: "verdana", sans-serif;
    width: fit-content;
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 10px; width: 10px;
    background: linear-gradient(to right, #219be1, #ebebeb);
    border-radius: 20px;
    transition: .5s;
}

h2:hover::before {
    width: 100px;
}

/* h2::after {
    content: " After text"
} */